html, body { height: 100%; width: 100%; margin: 0;}
body { padding: 0; }
#video-background {
  position: fixed; 
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%; 
  z-index: -1; 
  object-fit: cover; 
}

.content {
  position: relative; 
  z-index: 1; 
  color: white;
  padding: 20px;
}
#whale {height: 99.5%; width: 100%;}